:root {
  --layout-color: #e2e8f0;
  --black: #334155;
  --neutral-color: #f1f5f9;
  --red-light: #fb7185;
  --red-dark: #f43f5e;
  --blue-light: #60a5fa;
  --blue-dark: #3b82f6;
  --green-light: #4ade80;
  --green-dark: #22c55e;
  --yellow-light: #f9c851;
  --yellow-dark: #f9b851;
  --purple-light: #9c6df5;
  --purple-dark: #8c4af5;
  --pink-light: #f5a9f5;
  --pink-dark: #f5a9f5;
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v10/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TbPpqMl8Kuo8Az.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background: var(--black);
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--neutral-color);
  transition: background-color 0.2s;
}

.dot[data-color] {
  cursor: pointer;
}

.dot[data-color="red"] {
  background: var(--red-dark);
}

.dot[data-color="red"]:hover {
  background: var(--red-light);
}

.dot[data-color="blue"] {
  background: var(--blue-dark);
}

.dot[data-color="blue"]:hover {
  background: var(--blue-light);
}

.dot[data-color="green"] {
  background: var(--green-dark);
}

.dot[data-color="green"]:hover {
  background: var(--green-light);
}

.dot[data-color="yellow"] {
  background: var(--yellow-dark);
}

.dot[data-color="yellow"]:hover {
  background: var(--yellow-light);
}

.dot[data-color="purple"] {
  background: var(--purple-dark);
}

.dot[data-color="purple"]:hover {
  background: var(--purple-light);
}

.dot[data-color="pink"] {
  background: var(--pink-dark);
}

.dot[data-color="pink"]:hover {
  background: var(--pink-light);
}


.container {
  width: 32rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  html{
    font-size: 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--layout-color);
}

.life {
  font-weight: bold;
}

.content {
  background: white;
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dots {
  display: flex;
  gap: 1rem;
}

.footer {
  background: var(--layout-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.selector {
  display: flex;
  gap: 1rem;
}

.stock {
  display: flex;
  gap: 1rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}